.card {
  display: flex;
  justify-content: center;

  &__product {
    width: 470px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img title"
      "img name"
      "img stars"
      "img price"
      "img btn";

    > a,
    > a > div {
      display: contents;
    }

    img {
      grid-area: img;
    }

    button {
      margin-top: 10px;
    }
  }
}

.loader {
  text-align: center;
  padding: 30px 0;
}
