.card {
  display: flex;
  justify-content: center;

  > div {
    display: inline-flex;
    width: 470px;
    min-height: 200px;
    vertical-align: top;
    padding-left: 246px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.loader {
  text-align: center;
  padding: 30px 0;
}
