.pageLayout {
  &__title {
    margin-bottom: 80px;
    text-align: center;
  }

  &__backLink {
    display: inline-block;
    vertical-align: 5px;
    padding-right: 20px;
    transition: opacity 0.2s;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: 2px;
      width: 18px;
      height: 12px;
      background: transparent url("../../../assets/img/arrow.svg") no-repeat
        center center / contain;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
